<nav class="navbar navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">Video-chat</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="auth/signin" *ngIf="!isAuth">Se connecter</a>
      <a class="nav-link" routerLink="auth/signup" *ngIf="!isAuth">Créer un compte</a>
      <a class="nav-link" routerLink="chat/view-chat" *ngIf="isAuth">Chat</a>
      <a class="nav-link" routerLink="self-info" *ngIf="isAuth">Mon compte</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-link" style="color:#168F5D;">{{username}}</a>
        <a class="nav-link" routerLink="auth/signin" (click)="quit()" *ngIf="isAuth">Se deconnecter</a>
    </div>
  </div>
</nav>