<div class="row" style="margin-top: 10rem;">
	<div class="col-sm-4 col-sm-offset-2"></div>
	<div class="col-sm-2 col-sm-offset-2">
	    <button class="btn btn-primary"
	        type="submit"><ion-icon name="logo-facebook" class="icon-signin" (click)="facebook()"></ion-icon>
	    </button>
	</div>
	<div class="col-sm-2 col-sm-offset-2">
	    <button class="btn btn-primary"
	        type="submit"><ion-icon name="logo-google" class="icon-signin" (click)="google()"></ion-icon>
	    </button>
	</div>
	<div class="col-sm-4 col-sm-offset-2"></div>
</div>

